.draggable 
{
	border-style: groove;
	border-radius: 5px;
	height: 150%;
	background-color: rgba(255, 255, 255, .5);
	margin: 5%;
}

button
{
	margin: 2%;
}

img
{
	margin: 2%;
}

#on_power_relay
{
	background-color: #4DEE63;	
}

#off_power_relay
{
	background-color: #F88752;
}

#on_lamp_dimmer
{
	background-color: #4DEE63;
}

#off_lamp_dimmer
{
	background-color: #F88752;
}